{% extends 'base.html.twig' %}
{% trans_default_domain 'NowoBreadcrumbKitBundle' %}

{% block breadcrumb %}
<nav class="breadcrumb-admin" aria-label="{{ 'demo.admin_nav_aria'|trans }}">
    {{ breadcrumb_render('admin') }}
</nav>
{% endblock %}
